<phpunit colors="true" strict="true" stopOnError="false" backupGlobals="false"
         bootstrap="vendor/autoload.php">
    <php>
        <ini name="error_reporting" value="32767"/>
    </php>

    <testsuites>
        <testsuite name="all">
            <directory>tests/</directory>
            <exclude>vendor/</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
